@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Open+Sans:wght@300&display=swap");
@media screen and (max-width: 425px) {
  body {
    font-size: 5vw;
  }
  header {
    height: 30vw;
    width: 100%;
  }
  h1 {
    font-size: 10vw;
  }
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120vw 100vw 100vw 90vw 100vw 150vw 150vw 300vw 100vw;
  }
  .sunnyday {
    font-size: 7vw;
    margin-left: 5vw;
    margin-top: 6vw;
  }
  .div1 {
    grid-area: 1/1/2/2;
    background: url("../images/photos/image-header.jpg") center;
    background-size: 200vw 120vw;
    height: 120vw;
  }
  .div1 h1 {
    font-size: 20vw;
    margin-top: 10vw;
  }
  .div2 {
    grid-area: 2/1/3/2;
    background: url("../images/photos/image-transform.jpg") center;
    background-size: 108vw 100vw;
    height: 100vw;
  }
  .div3 {
    grid-area: 3/1/4/2;
    margin-top: 5vw;
    height: 100vw;
  }
  .div4 {
    grid-area: 4/1/5/2;
    background: url("../images/photos/image-stand-out.jpg") center;
    background-size: 108vw 100vw;
    height: 90vw;
  }
  .div5 {
    grid-area: 5/1/6/2;
    height: 100vw;
  }
  .div6 {
    grid-area: 6/1/7/2;
    background: url("../images/photos/image-graphic-design.jpg") center;
    background-size: 200vw 167vw;
    height: 150vw;
    color: #24554A;
  }
  .div6 h1 {
    margin-top: 100vw;
  }
  .div7 {
    grid-area: 7/1/8/2;
    background: url("../images/photos/image-photography.jpg") center;
    background-size: 200vw 167vw;
    height: 150vw;
    color: #24554A;
  }
  .div7 h1 {
    margin-top: 100vw;
  }
  .div8 {
    grid-area: 8/1/9/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vw 85vw 95vw 85vw;
    height: 300vw;
  }
  .div8 h1 {
    grid-area: 1/1/2/2;
    font-size: 7.5vw;
  }
  .div8 .pers1 {
    grid-area: 2/1/3/2;
  }
  .div8 .pers2 {
    grid-area: 3/1/4/2;
  }
  .div8 .pers3 {
    grid-area: 4/1/5/2;
  }
  .div9 {
    grid-area: 9/1/10/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vw;
    width: 100%;
  }
  .div9 .pic1 {
    grid-area: 1/1/2/2;
    background: url("../images/photos/image-gallery-milkbottles.jpg") center;
    background-size: 100% 125%;
  }
  .div9 .pic2 {
    grid-area: 1/2/2/3;
    background: url("../images/photos/image-gallery-orange.jpg") center;
    background-size: 100% 125%;
  }
  .div9 .pic3 {
    grid-area: 2/1/3/2;
    background: url("../images/photos/image-gallery-cone.jpg") center;
    background-size: 100% 125%;
  }
  .div9 .pic4 {
    grid-area: 2/2/3/3;
    background: url("../images/photos/image-gallery-sugarcubes.jpg") center;
    background-size: 100% 125%;
  }
  .div10 {
    height: 75vw;
    word-spacing: 12vw;
  }
  .div10 .section1 {
    margin-top: 10vw;
    font-size: 8vw;
  }
  .div10 .section2 {
    margin-top: 5vw;
  }
  .div10 .section3 {
    margin-top: 6vw;
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr) 1fr;
    grid-template-rows: 8vw;
  }
  .text {
    margin: 0 5%;
  }
  .link {
    font-size: 5vw;
  }
  .link::before {
    height: 2vw;
    width: 30vw;
    transform: translate(-1vw, 4vw);
  }
  .img_pers {
    height: 25vw;
    width: 25vw;
  }
  .pers_titre {
    font-size: 6vw;
  }
  .post {
    font-size: 4vw;
  }
  .arrow {
    margin: auto;
    height: 19vw;
    width: 8vw;
  }
  .logo_link {
    grid-area: 1/2/2/3;
    background: url("../images/icons/icon-facebook.svg") center;
    background-size: 8vw 8vw;
  }
  .logo_link:hover {
    background: url("../images/icons/icon-facebook-2.svg") center;
    background-size: 8vw 8vw;
  }
  .logo_link1 {
    grid-area: 1/3/2/4;
    background: url("../images/icons/icon-instagram.svg") center;
    background-size: 8vw 8vw;
  }
  .logo_link1:hover {
    background: url("../images/icons/icon-instagram-2.svg") center;
    background-size: 8vw 8vw;
  }
  .logo_link2 {
    grid-area: 1/4/2/5;
    background: url("../images/icons/icon-twitter.svg") center;
    background-size: 8vw 8vw;
  }
  .logo_link2:hover {
    background: url("../images/icons/icon-twitter-2.svg") center;
    background-size: 8vw 8vw;
  }
  .logo_link3 {
    grid-area: 1/5/2/6;
    background: url("../images/icons/icon-pinterest.svg") center;
    background-size: 8vw 8vw;
  }
  .logo_link3:hover {
    background: url("../images/icons/icon-pinterest-2.svg") center;
    background-size: 8vw 8vw;
  }
  .nav {
    visibility: hidden;
  }
}
@media screen and (min-width: 426px) {
  body {
    font-size: 1.5vw;
  }
  header {
    height: 5vw;
    width: 100%;
  }
  h1 {
    font-size: 3vw;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vw repeat(3, 40vw) 60vw 30vw;
  }
  .sunnyday {
    font-size: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
  .div1 {
    grid-area: 1/1/2/3;
    background: url("../images/photos/image-header.jpg") center;
    background-size: 90vw 50vw;
    height: 50vw;
  }
  .div1 h1 {
    font-size: 8vw;
    margin-top: 6vw;
  }
  .div2 {
    grid-area: 2/2/3/3;
    background: url("../images/photos/image-transform.jpg") center;
    background-size: 50vw 40vw;
    height: 40vw;
  }
  .div3 {
    grid-area: 2/1/3/2;
    margin-top: 10vw;
    height: 40vw;
  }
  .div4 {
    grid-area: 3/1/4/2;
    background: url("../images/photos/image-stand-out.jpg") center;
    background-size: 50vw 40vw;
    height: 40vw;
  }
  .div5 {
    margin-top: 10vw;
    grid-area: 3/2/4/3;
    height: 40vw;
  }
  .div6 {
    grid-area: 4/1/5/2;
    background: url("../images/photos/image-graphic-design.jpg") center;
    background-size: 50vw 40vw;
    height: 40vw;
    font-size: 1.5vw;
  }
  .div6 h1 {
    margin-top: 25vw;
    font-size: 2vw;
  }
  .div7 {
    grid-area: 4/2/5/3;
    background: url("../images/photos/image-photography.jpg") center;
    background-size: 50vw 40vw;
    height: 40vw;
    font-size: 1.5vw;
  }
  .div7 h1 {
    margin-top: 25vw;
    font-size: 2vw;
  }
  .div8 {
    grid-area: 5/1/6/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vw 4vw;
    height: 60vw;
  }
  .div8 h1 {
    grid-area: 1/1/2/4;
    font-size: 2vw;
    height: 5vw;
  }
  .div8 .pers1 {
    grid-area: 2/1/3/2;
  }
  .div8 .pers2 {
    grid-area: 2/2/3/3;
  }
  .div8 .pers3 {
    grid-area: 2/3/3/4;
  }
  .div8 .text {
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 1.2vw;
  }
  .div9 {
    grid-area: 6/1/7/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 30vw;
    width: 100%;
  }
  .div9 .pic1 {
    grid-area: 1/1/2/2;
    background: url("../images/photos/image-gallery-milkbottles.jpg") center;
    background-size: 100% 125%;
  }
  .div9 .pic2 {
    grid-area: 1/2/2/3;
    background: url("../images/photos/image-gallery-orange.jpg") center;
    background-size: 100% 125%;
  }
  .div9 .pic3 {
    grid-area: 1/3/2/4;
    background: url("../images/photos/image-gallery-cone.jpg") center;
    background-size: 100% 125%;
  }
  .div9 .pic4 {
    grid-area: 1/4/2/5;
    background: url("../images/photos/image-gallery-sugarcubes.jpg") center;
    background-size: 100% 125%;
  }
  .div10 {
    height: 25vw;
    word-spacing: 4vw;
  }
  .div10 .section1 {
    margin-top: 4vw;
    font-size: 2.5vw;
  }
  .div10 .section2 {
    margin-top: 1vw;
  }
  .div10 .section3 {
    margin-top: 2vw;
    word-spacing: 1.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(4, 0.5fr) repeat(3, 1fr);
    grid-template-rows: 1vw;
  }
  .div3 h1, .div5 h1 {
    text-align: start;
    margin: 0 10vw;
  }
  .text {
    text-align: start;
    margin: 3vw 8vw 3vw 10vw;
  }
  .other_text {
    margin: 1.5vw 15vw 0vw 15vw;
    font-size: 1vw;
    line-height: 200%;
    word-spacing: 0.4vw;
  }
  .link {
    margin: 0 10vw;
    text-align: start;
    font-size: 1.5vw;
  }
  .link::before {
    height: 0.75vw;
    width: 9vw;
    transform: translate(-0.25vw, 1.2vw);
  }
  .img_pers {
    height: 5vw;
    width: 5vw;
  }
  .pers_titre {
    font-size: 1.5vw;
  }
  .post {
    font-size: 1vw;
  }
  .arrow {
    position: absolute;
    top: 15vw;
    left: 50vw;
    height: 9vw;
    width: 3vw;
  }
  .logo_link {
    grid-area: 1/4/2/5;
    background: url("../images/icons/icon-facebook.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_link:hover {
    background: url("../images/icons/icon-facebook-2.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_link1 {
    grid-area: 1/5/2/6;
    background: url("../images/icons/icon-instagram.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_link1:hover {
    background: url("../images/icons/icon-instagram-2.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_link2 {
    grid-area: 1/6/2/7;
    background: url("../images/icons/icon-twitter.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_link2:hover {
    background: url("../images/icons/icon-twitter-2.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_link3 {
    grid-area: 1/7/2/8;
    background: url("../images/icons/icon-pinterest.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_link3:hover {
    background: url("../images/icons/icon-pinterest-2.svg") center;
    background-size: 1vw 1vw;
  }
  .logo_up2 {
    visibility: hidden;
  }
}
.logo_link, .logo_link:hover, .logo_link1, .logo_link1:hover, .logo_link2, .logo_link2:hover, .logo_link3, .logo_link3:hover {
  background-repeat: no-repeat;
}

body {
  font-family: "Fraunces", Fraunces, serif;
  height: 100%;
  width: 100%;
  margin: 0 0;
}

header {
  background-color: rgb(74, 189, 242);
}

.parent {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sunnyday {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: white;
  position: absolute;
}

.div1 {
  color: white;
}

.div8 {
  margin-top: 10vw;
}
.div8 h1 {
  color: #A7AAAD;
}

.div10 {
  text-align: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: #90D4C6;
  font-family: "Barlow", sans-serif;
}
.div10 .section1 {
  color: #2C7566;
  grid-area: 1/1/2/2;
  font-weight: bold;
}
.div10 .section2 {
  color: #458D7E;
  grid-area: 2/1/3/2;
  font-weight: bold;
}
.div10 .section3 {
  grid-area: 3/1/4/2;
}

.text {
  font-family: "Barlow", sans-serif;
  color: #808397;
  line-height: 150%;
  word-spacing: 0.2vw;
}

.other_text {
  font-family: "Barlow", sans-serif;
}

.link {
  opacity: 0.7;
  font-weight: bold;
}
.link:hover {
  opacity: 1;
}
.link::before {
  position: absolute;
  content: "";
  border-radius: 50px;
  background-color: yellow;
  z-index: -1;
}

.img_pers {
  border-radius: 50%;
  margin-bottom: 5vw;
}

.pers_titre {
  font-weight: bold;
}

.post {
  font-family: "Fraunces", serif;
  color: #808397;
}

.arrow {
  display: block;
  animation: arrow 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.logo_all {
  position: relative;
}

.logo_up2 {
  position: absolute;
  margin-left: 90vw;
  margin-top: 9vw;
}

.nav {
  position: absolute;
  word-spacing: 2vw;
  font-size: 1vw;
  color: white;
  margin-left: 70vw;
  margin-top: 3vw;
}

.little_nav:hover {
  color: rgb(207, 206, 206);
}

.button_nav {
  background-color: #077adf;
  border-radius: 2.5vw;
  display: inline-block;
  color: #ffffff;
  padding: 1.5vw 3vw;
}

.button_nav:hover {
  color: #000000;
  background-color: #ffffff;
}

.button_nav:active {
  position: relative;
  top: 1px;
}

.logo_bouh {
  color: #24554A;
}

.text_link:hover {
  color: white;
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(10vw);
    transform: translateY(10vw);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
